.chip-input-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .heading {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chip-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: transparent;
    padding: 8px 0;
    border-bottom: 2px solid #007bff; 
    position: relative;
  }
  
  .chip {
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    border-radius: 16px;
    padding: 4px 10px;
    margin: 0 8px 8px 0;
  }
  
  .chip.highlight-blue {
    border: 2px solid blue; 
  }
  
  .chip-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
  
  .chip-name {
    margin-left: 8px;
  }
  
  .chip-remove {
    cursor: pointer;
    color: #999;
    font-size: 20px;
    margin-left: 8px;
  }
  
  .chip-input-field {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    background: transparent;
  }
  
  .suggestions-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .search-highlight {
    background-color: yellow;
  }
  
  .suggestion-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  
  .suggestion-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .suggestion-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .suggestion-name {
    font-weight: bold;
  }
  
  .suggestion-email {
    font-size: smaller;
    color: #555;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
  .chip-input-field::-webkit-input-placeholder {
    color: #999;
  }
  
  .chip-input-field::-moz-placeholder {
    color: #999;
  }
  
  .chip-input-field:-ms-input-placeholder {
    color: #999;
  }
  
  .chip-input-field::-ms-input-placeholder {
    color: #999;
  }
  
  .chip-input-field::placeholder {
    color: #999;
  }
  
  .highlight {
    background-color: yellow;
  }
  
  @media (max-width: 768px) {
    .chip-input-wrapper {
      max-width: 100%;
    }
  }